.payment-setting {
    .checkbox {
        label {
            justify-content: center;
            text-align: center;
            background: #fff !important;
            .text {
                color: #656f89 !important            ;
            }
        }
    }
}
