@import "../variables";

.event-preview {
    .time {
        right: 50px;
        bottom: -50px;
        color: $white;
        line-height: 65px;
        padding: 15px 20px;
        //font-size: 50px;
        .digit {
            font-size: 46px;
            font-weight: 700;
            min-width: 60px;
        }
        .text {
            color: rgba($white, 0.7);
            margin-left: 5px;
        }
        .clone {
            color: rgba($white, 0.3);
            font-size: 37px;
            padding: 0 15px;
        }
    }
    .top-btn {
        position: absolute;
        right: 2%;
        top: 3%;
        .btn {
            padding: 10px 15px;
            font-weight: 500;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .event-preview {
        .time {
            right: 37.5px;
            bottom: -37.5px;
            padding: 10px 20px;
            .digit {
                font-size: 30px;
                font-weight: 700;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .event-preview {
        .time {
            right: 25px;
            bottom: -25px;
            padding: 10px 20px;
            .digit {
                font-size: 18px;
                font-weight: 700;
            }
            .clone {
                font-size: 20px;
                padding: 0 5px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .event-preview {
        .time {
            padding-left: 10px;
            padding-right: 10px;
            right: 21px;
            bottom: -21px;
            .digit {
                font-size: 15px;
                font-weight: 700;
            }
            .clone {
                font-size: 10px;
                padding: 0 2px;
            }
            .text {
                font-size: 13px;
            }
        }
        .top-btn {
            .btn {
                padding: 7px 12px;
                font-size: 13px;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .event-preview {
        .time {
            z-index: 1;
            padding: 2px 5px;
            border-radius: 3px;
            right: 5px;
            bottom: -11px;
            .digit {
                font-size: 10px;
                font-weight: 700;
            }
            .clone {
                font-size: 9px;
                padding: 0 2px;
            }
            .text {
                font-size: 11px;
            }
        }
        .top-btn {
            .btn {
                padding: 5px 7px;
                font-size: 10px;
            }
        }
    }
}
