@import "../variables";

.profile-page {
    margin-bottom: 130px;
    .user-icon {
        height: 200px;
        width: 200px;
        background-color: #d6dae5;
        color: $white;
        margin: 50px auto;
        position: relative;
        .ri-user-line {
            font-size: 670%;
        }
        .edit {
            display: inline-block;
            position: absolute;
            background-color: $primary;
            color: $white;
            height: 30px;
            width: 30px;
            padding-top: 5px;
            right: 0;
            bottom: 19%;
            cursor: pointer;
            i {
                font-size: 90%;
            }
        }
        .edit:hover {
            opacity: 0.8;
        }
    }
}
