$primary: #5232f8;
$secondary: #2dc774;
$danger: #fe4140;
$warning: #f9a22e;
$info: #62d7ff;
$dark: #3a445b;
$gray1: #656f89;
$gray2: #9ba4bb;
$gray3: #e9ecf0;
$gray4: #d6dae5;
$white: #fff;
$black: #000;
$state_secondary: #2fe6c9;
$state_danger: #fe8183;
$state_info: #62d7ff;
$state_primary: #8980ff;
$font-family: 'Poppins', sans-serif;
